@use '../../utils/variables';

@font-face {
  font-family: 'Retro Gaming';
  src: url('../../../public/fonts/Retro\ Gaming.ttf');
}

.search-bar__initial-state {
  background-color: variables.$primary-color;
  background-color: linear-gradient(
    0deg,
    variables.$primary-color 50%,
    variables.$primary-color-dark 100%
  );
  border: 1px solid variables.$primary-color;
  display: block;
  font-size: 3em;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-bar__initial-state::placeholder {
  color: variables.$text-color;
  font-family: 'Retro Gaming';
  font-weight: bold;
  opacity: 1;
  text-align: center;
}
