$primary-color: #fd02ffff;
$primary-color-dark: #7e0180;
$primary-color-light: #fe7eff;
$secondary-color: #07f8ffff;
$secondary-color-dark: #047c80;
$background-color: #0f0f1eff;
$background-color-light: #87878e;
$background-color-dark: #08080f;
$text-color: white;

$default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
