@use '../../utils/variables';

.score {
  background-image: linear-gradient(
    variables.$primary-color-dark,
    variables.$primary-color
  );
  border: 2px solid variables.$primary-color;
  border-radius: 7.5px;
  color: white;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  width: 48px;
}
